@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<br>
</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not contain any treats</p>
  <h5>@Html.ActionLink("Add treat", "AddTreat", new { id = Model.FlavorId })</h5>
}
else
{
  <h4>Treats:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treat.Title</li>
    <h5>@Html.ActionLink("Add treat", "AddTreat", new { id = Model.FlavorId })</h5>
  }
  </ul>
}
<hr />
<br>

<h5>@Html.ActionLink("Add treat", "AddTreat", new { id = Model.FlavorId })</h5>
<h5>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</h5>
<h5>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</h5>
<h5>@Html.ActionLink("Back to flavors", "Index")</h5>